*
!/**/
!*.*
logs/
**/*.log
!bin/pickle_graph.pkl
.gitig-*
**/*.png
**/*.tsv
**/*.error
**/*.svg
!doc/link_button.svg
**/*.gif
**/__pycache__/
**/*.bin
**/*.fasta
**/*.RData
**/*.zip
*.so
.gitig-*
**/.gitig-*
**/*.pkl
bin/*
!bin/.gitignore
!bin/tok_dict.pkl
**/*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
**/*.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
vscode/
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
**/*.DS_Store
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Rproj.user/
.Rproj
vignettes/*.html
vignettes/*.pdf
*_cache/
/cache/
**/~$*
data/preprocessing/atypical.csv
data/preprocessing/PreprocessingSteps/complex_organism_phospho.json
data/preprocessing/PreprocessingSteps/fam_to_num_seq.csv
images/Group Distributions/fam_to_num_seq.csv
images/Excel Matrix/excel_art_formatted.csv
!**/*_reprod.svg
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.tar
**/*.gz
**/*.csv-TID*
**/*.derangement