logs/
!bin/pickle_graph.pkl
**/*.png
**/*.svg
**/*.gif
**/*.pdf
**/__pycache__/
**/*.bin
**/*.fasta
**/*.RData
*.so
.gitig-*
**/.gitig-*
**/*.pkl
bin/*
!bin/.gitignore
!bin/tok_dict.pkl
**/*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
**/*.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
vscode/
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
**/*.DS_Store
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Rproj.user/
.Rproj
vignettes/*.html
vignettes/*.pdf
*_cache/
/cache/
**/~$*
