aiohttp
beautifultable
brokenaxes
cloudpickle
coverage
dill
git+https://github.com/Ben-Drucker/psankey-modified@master#egg=psankey_modified
git+https://github.com/Ben-Drucker/roc_comparison-modified@main#egg=roc_comparison_modified
git+https://github.com/Ben-Drucker/torchinfo-modified@main#egg=torchinfo_modified
graphviz
html2text
jsonschema
kaleido
lxml
matplotlib
mlrose_hiive
more_itertools
nbformat
numpy
numpyencoder
openpyxl
pandas
parameterized
plotly
prettytable
psutil
pycallgraph2
python_dateutil
requests
scikit_learn
scipy
seaborn
selenium
sigfig
termcolor
tqdm
