matplotlib~=3.5.3
mlrose_hiive>=2.2.4
numpy~=1.23.2
pandas~=1.4.3
prettytable~=3.3.0
requests~=2.28.1
scikit_learn~=1.1.3
scipy~=1.9.0
sigfig~=1.3.2
tqdm~=4.64.1
dateutil~=2.8.2
dill~=0.3.6
termcolor~=2.2.0
git+https://github.com/Ben-Drucker/torchinfo-modified@main#egg=torchinfo_modified
git+https://github.com/Ben-Drucker/psankey-modified@master#egg=psankey_modified
git+https://github.com/Ben-Drucker/roc_comparison-modified@main#egg=roc_comparison_modified
