aiohttp
brokenaxes
cloudpickle
coverage
git+https://github.com/Ben-Drucker/psankey-modified@master#egg=psankey_modified
git+https://github.com/Ben-Drucker/roc_comparison-modified@main#egg=roc_comparison_modified
git+https://github.com/Ben-Drucker/torchinfo-modified@main#egg=torchinfo_modified
html2text
jsonschema
kaleido
lxml
matplotlib
mlrose_hiive
nbformat
numpy
openpyxl
pandas
plotly
prettytable
psutil
python_dateutil
requests
scikit_learn
scipy
seaborn
selenium
sigfig
termcolor
tqdm
